/* Colors */
/* Text */
/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;0,900;1,300;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background: #1d1e24;
  color: #FCFCFC;
  font-family: 'Poppins', sans-serif;
}

.custom-primary-background {
  background: #1d1e24;
}

.custom-secondary-background {
  background: #23262b;
}

.fw-700 {
  font-weight: 700;
}

.fw-300 {
  font-weight: 300;
}

.divider {
  margin: 3.50rem 0;
}

/* Header */
.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.75rem;
}

.navbar .navbar-brand {
  color: #263244;
  font-size: 0.90rem;
}

.navbar .navbar-brand:hover {
  color: #263244;
  opacity: 0.7;
}

.navbar .dropdown .show {
  background-color: #263244;
  border-radius: 0.6rem;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.navbar .dropdown .show .dropdown-item:hover {
  color: #263244;
}

.navbar .nav-item {
  margin-left: 0.15rem;
}

.navbar .nav-item:hover {
  background-color: #263244;
  border-radius: 0.6rem;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.navbar .nav-item .active {
  padding: 0.6rem;
  background-color: #263244;
  font-weight: 600;
  border-radius: 0.6rem;
}

.navbar .nav-item a {
  padding: 0.6rem;
  color: #263244;
}

.header-social-media-icons {
  font-size: 1.2rem;
}

.header-social-media-icons i {
  padding: 0.75rem;
}

.header-social-media-icons i:hover {
  background-color: #263244;
  border-radius: 45.75rem;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

/* Content */
.card .card-body .card-subtitle {
  font-size: 0.85rem;
}

.card .card-body .card-title {
  font-size: 1.15rem;
}

.card .card-body .card-title a {
  color: black;
}

.card .card-body .card-title a:hover {
  opacity: 0.7;
}

.card .card-body .card-text {
  font-size: 0.90rem;
}

/* Blog Tek Content */
.blog-tek-title h1 {
  margin-top: 40px;
  font-size: 2rem;
  font-weight: 600;
}

.blog-tek-content p {
  font-size: 1.15rem;
}

.blog-tek-share h2 {
  font-size: 0.95rem;
  font-weight: 600;
}

.blog-tek-share .share-social-media {
  font-size: 1.08rem;
  margin-left: 1rem;
}

.blog-tek-share .share-social-media i:hover {
  background-color: #263244;
  color: white;
  border-radius: 45.75rem;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

/* About Me */
.aboutMe .aboutMe-right .surname {
  color: #ff214f;
}

.aboutMe .aboutMe-left li a {
  color: #fff;
  font-size: 24px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.aboutMe-what-im-doing .card {
  border-radius: 1.5rem;
  width: 30rem;
}

/* Footer */
.footer-social-media-icons {
  font-size: 1.8rem;
}

.footer-social-media-icons i {
  background-color: #263244;
  color: white;
  margin-left: 6px;
  border-radius: 45.75rem;
  padding: 0.75rem;
}

.footer-social-media-icons i:hover {
  opacity: 0.8;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.footer-menu-link {
  color: black;
}

.footer-menu-link:hover {
  color: #263244;
  opacity: 0.7;
}
/*# sourceMappingURL=style.css.map */