
/* Colors */
$theme-colors : ( "primary-background" : #1d1e24, "secondary-background": #23262b, "border-color" : #33363D, "custom-form-background": #2E2F36, "custom-text-light": #FCFCFC, "custom-text-dark": #AEB0B8, "blue-color": #263244, "title-bottom-color":#ff214f)
    
/* Text */
$theme-text-weight: ("font-weight-300": 300,"font-weight-600": 600,"font-weight-700": 700)
$font-12: 1.2rem
/* Variables */
$navbar-border: 1px solid map-get($theme-colors, "border-color")
$p-12 : 0.75rem
$transition-duration: .8s


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;0,900;1,300;1,500;1,700;1,900&display=swap')
*
    padding: 0
    margin: 0

body 
    background: map-get($theme-colors, primary-background)
    color: map-get($theme-colors, custom-text-light)
    font-family: 'Poppins', sans-serif

.custom-primary-background
    background: map-get($theme-colors, primary-background)
.custom-secondary-background
    background: map-get($theme-colors, secondary-background)
.fw-700
    font-weight: map-get($theme-text-weight, font-weight-700)
.fw-300
    font-weight: map-get($theme-text-weight, font-weight-300)
.hr-divider
    border: 1px solid map-get($theme-colors, "border-color")

/* Header */
.navbar
    border-bottom: $navbar-border
    padding: $p-12
    .navbar-brand
        color: map-get($theme-colors, "custom-text-dark")
        font-size: 1rem
        &:hover
            color: map-get($theme-colors, "custom-text-light")
    .nav-item    
        a
            color: map-get($theme-colors, "custom-text-light")
        .nav-link
            &::after
                content: ''
                display: block
                width: 0
                height: 2px
                background: #fff
                transition: width .3s
            &:hover
                &::after
                    width: 100%
                    transition: width .3s

/* Heroes */
.heroes
    height: 75vh
    .heroes-right
        .surname
            color: map-get($theme-colors, "title-bottom-color")

    .heroes-left
        .nav
            display: block
            padding: 20px
            position: absolute
            top: 22%
            bottom: 0
        li
            a
                color: #fff
                font-size: 24px
                transition: all ease .3s
        .social-media-icons
            .fa-instagram:hover
                color: transparent
                background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%)
                background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%)
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%)
                background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%)
                background-clip: text
                -webkit-background-clip: text
            .fa-linkedin:hover
                color: #0077b5
            .fa-twitter:hover
                color: #55acee
            .fa-github:hover
                color: #fff
                opacity: 0.7

    .scroll-down
        color: #fff
        font-size: 23px
        opacity: .7
        transition: all .3s ease
        &:focus, &::after, &:hover
            opacity: 1
    .animateArrow
        border-radius: 50%
        animation: animateArrow 2s infinite
        @keyframes animateArrow
            0%,
            100%
                transform: translateY(0)
            40%
                transform: translateY(-20px)

/* About Me */
.aboutMe
    .card
        border-radius: 1.5rem
        width: 30rem
        border: 1px solid map-get($theme-colors, "border-color")

/* Portfolio */
.portfolio
    .portfolio-filter
        display: none
    .show
        display: block
    button
        text-transform: capitalize
    .portfolio-box
        position: relative
        width: 100%
        height: 18.5rem
        overflow: hidden
        margin-bottom: 1.2rem

        img
            width: 100%
        .portfolio-info
            display: flex
            align-items: center
            justify-content: center
            width: 100%
            height: 100%
            position: absolute
            top: 0
            opacity: 0
            visibility: hidden

            .caption
                text-align: center

            h4
                text-transform: uppercase
        &:hover
            img
                transform: scale(1.5)
                transition-duration: 2000ms
            .portfolio-info
                    background: map-get($theme-colors,"primary-background")
                    opacity: 0.7
                    visibility: visible
                    z-index: 9999
                    transition-duration: 2000ms               

/* Blog */
.blog
    .card
        border-radius: 1.5rem
        border: 1px solid map-get($theme-colors, "border-color")
        img
            border-top-right-radius: 1.5rem
            border-top-left-radius: 1.5rem
            &:hover
                opacity: 0.7
                transition: 0.9s all
        .card-body
            .card-subtitle
                font-size: 0.85rem
            .card-title
                font-size: 1.15rem
                a
                    color: black
                    &:hover
                        opacity: 0.7
            .card-text
                font-size: 0.90rem
    .more-blog
        border-radius: 1.5rem
        border: 1px solid map-get($theme-colors, "border-color")

/* Blog Tek Content */

.blog-tek-title
    h1
        margin-top: 40px
        font-size: 2rem
        font-weight: 600

.blog-tek-content
    p
        font-size: 1.15rem
.blog-tek-share
    h2
        font-size: 0.95rem
        font-weight: 600
    .share-social-media
        font-size: $font-12 * 0.90
        margin-left: 1rem
        i
            &:hover
                background-color: map-get($theme-colors, "blue-color")
                color: white
                border-radius: $p-12 + 45
                transition-duration: $transition-duration
    
/* Contact */
.contact
    input.form-control, textarea.form-control
        padding: 0.875rem 1.375rem 0.8125rem
        background: map-get($theme-colors, "custom-form-background")
        border-radius: 1.5rem
        border: 1px solid map-get($theme-colors, "border-color")
        color: white
        &:focus
            border-color: none
            box-shadow: none
            outline: 0 none
        &::selection
            background: map-get($theme-colors, "title-bottom-color")
            
    .contact-submit
        background: map-get($theme-colors, "secondary-background")
        color: map-get($theme-colors, "custom-text-light")
        &:hover
            border-radius: 1.5rem
            border: 1px solid map-get($theme-colors, "border-color")
            color: map-get($theme-colors, "title-bottom-color")
            transition: 1s all

/* Footer */
.footer
    .nav
        a
            transition: 0.7s all
        .nav-item
            a
                color: map-get($theme-colors, "custom-text-dark")
                &:hover
                    color: map-get($theme-colors, "custom-text-light")