/* Colors */
/* Text */
/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;0,900;1,300;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background: #1d1e24;
  color: #FCFCFC;
  font-family: 'Poppins', sans-serif;
}

.custom-primary-background {
  background: #1d1e24;
}

.custom-secondary-background {
  background: #23262b;
}

.fw-700 {
  font-weight: 700;
}

.fw-300 {
  font-weight: 300;
}

.divider {
  margin: 3.50rem 0;
}

/* Header */
.navbar {
  border-bottom: 1px solid #33363D;
  padding: 0.75rem;
}

.navbar .navbar-brand {
  color: #AEB0B8;
  font-size: 1rem;
}

.navbar .navbar-brand:hover {
  color: #FCFCFC;
}

.navbar .nav-item a {
  color: #FCFCFC;
}

.navbar .nav-item .nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.navbar .nav-item .nav-link:hover::after {
  width: 100%;
  -webkit-transition: width .3s;
  transition: width .3s;
}

/* Heroes */
.heroes .heroes-right .surname {
  color: #ff214f;
}

.heroes .heroes-left .nav {
  display: block;
  padding: 20px;
  position: absolute;
  top: 22%;
  bottom: 0;
}

.heroes .heroes-left li a {
  color: #fff;
  font-size: 24px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.heroes .heroes-left .social-media-icons .fa-instagram:hover {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.heroes .heroes-left .social-media-icons .fa-linkedin:hover {
  color: #0077b5;
}

.heroes .heroes-left .social-media-icons .fa-twitter:hover {
  color: #55acee;
}

.heroes .heroes-left .social-media-icons .fa-github:hover {
  color: #fff;
  opacity: 0.7;
}

.heroes .scroll-down {
  color: #fff;
  font-size: 23px;
  opacity: .7;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.heroes .scroll-down:focus, .heroes .scroll-down::after, .heroes .scroll-down:hover {
  opacity: 1;
}

.heroes .animateArrow {
  border-radius: 50%;
  -webkit-animation: animateArrow 2s infinite;
          animation: animateArrow 2s infinite;
}

@-webkit-keyframes animateArrow {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes animateArrow {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

/* About Me */
.aboutMe .card {
  border-radius: 1.5rem;
  width: 30rem;
  border: 1px solid #33363D;
}

/* Content */
.blog .card .card-body .card-subtitle {
  font-size: 0.85rem;
}

.blog .card .card-body .card-title {
  font-size: 1.15rem;
}

.blog .card .card-body .card-title a {
  color: black;
}

.blog .card .card-body .card-title a:hover {
  opacity: 0.7;
}

.blog .card .card-body .card-text {
  font-size: 0.90rem;
}

/* Blog Tek Content */
.blog-tek-title h1 {
  margin-top: 40px;
  font-size: 2rem;
  font-weight: 600;
}

.blog-tek-content p {
  font-size: 1.15rem;
}

.blog-tek-share h2 {
  font-size: 0.95rem;
  font-weight: 600;
}

.blog-tek-share .share-social-media {
  font-size: 1.08rem;
  margin-left: 1rem;
}

.blog-tek-share .share-social-media i:hover {
  background-color: #263244;
  color: white;
  border-radius: 45.75rem;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

/* Footer */
.footer-menu-link {
  color: black;
}

.footer-menu-link:hover {
  color: #263244;
  opacity: 0.7;
}
/*# sourceMappingURL=style.css.map */