
/* Colors */
$theme-colors : ( "primary-background" : #1d1e24, "secondary-background": #23262b, "border-color" : #33363D, "custom-text-light": #FCFCFC, "blue-color": #263244, "blue-color-hover" : #1a237ead, "title-bottom-color":#ff214f)
    
/* Text */
$theme-text-weight: ("font-weight-300": 300,"font-weight-600": 600,"font-weight-700": 700)
$font-12: 1.2rem
/* Variables */
$navbar-border: 1px solid rgba(0, 0, 0, 0.1)
$p-12 : 0.75rem
$transition-duration: .8s


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;0,900;1,300;1,500;1,700;1,900&display=swap')
*
    padding: 0
    margin: 0

body 
    background: map-get($theme-colors, primary-background)
    color: map-get($theme-colors, custom-text-light)
    font-family: 'Poppins', sans-serif

.custom-primary-background
    background: map-get($theme-colors, primary-background)
.custom-secondary-background
    background: map-get($theme-colors, secondary-background)
.fw-700
    font-weight: map-get($theme-text-weight, font-weight-700)
.fw-300
    font-weight: map-get($theme-text-weight, font-weight-300)
.divider
    margin: 3.50rem 0
/* Header */

.navbar
    border-bottom: $navbar-border
    padding: $p-12
    .navbar-brand
        color: map-get($theme-colors, "blue-color")   
        font-size: 0.90rem
        &:hover
            color: map-get($theme-colors, "blue-color")
            opacity: 0.7
            
    .dropdown
        .show
            background-color: map-get($theme-colors, "blue-color")
            border-radius: 0.6rem
            color: map-get($theme-colors, "white")
            transition-duration: $transition-duration
            .dropdown-item
                color: map-get($theme-colors, "white")
                &:hover
                    background-color: map-get($theme-colors, "white")
                    color: map-get($theme-colors, "blue-color")
    .nav-item
        margin-left: $p-12  - 0.60
        &:hover
            background-color: map-get($theme-colors, "blue-color")
            border-radius: 0.6rem
            color: map-get($theme-colors, "white")
            transition-duration: $transition-duration          
        .active
            padding: $p-12 - 0.15
            background-color: map-get($theme-colors, "blue-color")
            color: map-get($theme-colors, "white")
            font-weight: map-get($theme-text-weight, font-weight-600)
            border-radius: 0.6rem
        a
            padding: $p-12 - 0.15
            color: map-get($theme-colors, "blue-color")
        .nav-link
            &:hover
                color: map-get($theme-colors, "white")

.header-social-media-icons
    font-size: $font-12
    i
        padding: $p-12
        &:hover
            background-color: map-get($theme-colors, "blue-color")
            color: map-get($theme-colors, "white")
            border-radius: $p-12 + 45
            transition-duration: $transition-duration

/* Content */

.card
    .card-body
        .card-subtitle
            font-size: 0.85rem
        .card-title
            font-size: 1.15rem
            a
                color: black
                &:hover
                    opacity: 0.7
        .card-text
            font-size: 0.90rem

/* Blog Tek Content */

.blog-tek-title
    h1
        margin-top: 40px
        font-size: 2rem
        font-weight: 600

.blog-tek-content
    p
        font-size: 1.15rem
.blog-tek-share
    h2
        font-size: 0.95rem
        font-weight: 600
    .share-social-media
        font-size: $font-12 * 0.90
        margin-left: 1rem
        i
            &:hover
                background-color: map-get($theme-colors, "blue-color")
                color: white
                border-radius: $p-12 + 45
                transition-duration: $transition-duration

/* About Me */
.aboutMe
    .aboutMe-right
        .surname
            color: map-get($theme-colors, "title-bottom-color")
    .aboutMe-left
        li
            a
                color: #fff
                font-size: 24px
                transition: all ease .3s

.aboutMe-what-im-doing
    .card
        border-radius: 1.5rem
        width: 30rem
    
/* Footer */

.footer-social-media-icons
    font-size: $font-12 * 1.5
    i
        background-color: map-get($theme-colors, "blue-color")
        color: white
        margin-left: 6px
        border-radius: $p-12 + 45
        padding: $p-12
        &:hover
            opacity: 0.8
            color: map-get($theme-colors, "white")
            transition-duration: $transition-duration


.footer-menu-link
    color: black
    &:hover
        color: map-get($theme-colors, "blue-color")
        opacity: 0.7
